.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem auto;
  .home__title {
    font-size: 3em;
    color: #6c5ce7;
  }
  .home__text {
    font-size: 2em;
    color: #74b9ff;
  }
}