.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem auto;
  .home__title {
    font-size: 3em;
    color: #324e7b;
  }
  .home__text {
    font-size: 2em;
    color: #86a6df;
  }
}